{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Waste Analysis</title>
    <link rel="stylesheet" href="{% static 'analysis/css/style.css' %}" />
  </head>
  <body>
    <header>
      <div class="banner">
        <!-- Görsel Arka Plan İçin -->
        <div class="banner-background"></div>
        <h1>Welcome to WISE</h1>
        <p>Waste Intelligence for Sustainable Eating</p>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="intro">
          <p>
            This application helps analyze food waste in cafeterias using plate
            images. Upload plate images, view analysis results, and generate
            reports to make smarter, data-driven decisions.
          </p>
        </div>

        <div class="buttons">
          <div class="upload">
            <a href="{% url 'upload' %}" class="btn">Upload Images</a>
          </div>
          <div class="other-buttons">
            <a href="{% url 'graphs' %}" class="btn">View Graphs</a>
            <a href="{% url 'results' %}" class="btn">View Results</a>
            <a href="{% url 'report' %}" class="btn">Generate Report</a>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>© 2024 WISE by BYN. All Rights Reserved.</p>
    </footer>
  </body>
</html>
