<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'analysis/css/style.css' %}" />
  </head>
  <body>
    <div class="form-container">
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Login</button>
        <!-- Hata mesajı varsa ekranda göster -->
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
      </form>
      <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
  </body>
</html>
